div.subscription-button {
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
  max-width: calc(50% - 5px);
  background-color: #CBD3DA;
  border-radius: 4px;
  margin: 16px 0;
  cursor: pointer;
}

div.subscription-button.selected {
  background-color: #409FFF;
  color: #FFFFFF;
}

div.subscription-button.selected > div.radio-space {
  color: #409FFF;
}

div.subscription-button > div {
  width: 100%;
  min-height: 16px;
}

div.subscription-button > div.radio-space {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  font-size: 10px;
}

div.subscription-button > div.subscription-type,
div.subscription-button > div.subscription-price,
div.subscription-button > div.subscription-savings,
div.subscription-button > div.subscription-caption {
  text-align: center;
}

div.subscription-button > div.subscription-type {
  font-size: 18px;
}

div.subscription-button > div.subscription-price {
  font-size: 20px;
  font-weight: bold;

  padding: 10px 0;
  box-sizing: border-box;
}

div.subscription-button > div.subscription-savings {
  font-size: 10px;
  font-weight: bold;
}

div.subscription-button > div.subscription-caption {
  font-size: 10px;
}